h2 {
    color: darkblue;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
        color: #33b432;
        font-size: 1.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
  }